{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>

    <script src="{% static 'core/jquery/js/jquery.min.js' %}"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'core/sweetalert/css/sweetalert2.min.css' %}">
    <script src="{% static 'core/sweetalert/js/sweetalert2.all.min.js' %}" defer></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <link rel="stylesheet" href="{% static 'chat/css/index.css' %}">
    <script>
        var my_id = {{ user.id }}
    </script>
    <script src="{% static 'chat/js/index.js' %}" defer></script>
    <script src="{% static 'chat/js/socket.js' %}" defer></script>
    <script src="{% static 'chat/js/chat.js' %}" defer></script>
    <script src="{% static 'chat/js/group_socket.js' %}" defer></script>
    <script src="{% static 'chat/js/group_chat.js' %}" defer></script>
    <script src="{% static 'chat/js/friend_request_socket.js' %}" defer></script>
    <script src="{% static 'chat/js/friend_request.js' %}" defer></script>
</head>

<body>
<p>Welcome {{ user }}</p>
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-2 col-xl-2 chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                        <div class="d-flex bd-highlight my_profile">
                            <div class="img_cont my_img_div" title="Me">
                                <a href="{% url 'chat:profile' %}">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                    <span class="my_custom_on_off_icon_class online_icon"></span>
                            </div>
                        </div>
                    </a>
                    <br>
                    <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search">
                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ui class="contacts">
                        {% csrf_token %}
                        <div class="chat_categ" id="private_chat_categ">
                            <div class="d-flex justify-content-start">
                                <div class="p-2 bd-highlight">
                                    <p class="chat_categ_name">Friends</p>
                                </div>
                                <div class="p-2 bd-highlight">
{#                                    <button id="search_people" search_people_url="{% url 'chat:search_people' %}" title="Add new friend"><i class="fas fa-user-plus"></i></button>#}
                                </div>
{#                                <div class="container" id="search_people_container" style="display: none;"></div>#}

                                <div id="search_people_modal" class="modal">
                                    <div id="search_people_container"></div>
                                    <a href="#close-modal" rel="modal:close" class="close-modal ">Close</a>
                                </div>
                                <p><a id="search_people" href="#search_people_modal" rel="modal:open" search_people_url="{% url 'chat:search_people' %}"><i class="fas fa-user-plus"></i></a></p>
                            </div>
                            {% for user in friends %}
                            <li class="friend_name chat_categ_li friend_name_action" id="{{ user.friend.id }}" friend_name="{{ user.friend.username }}" url="{% url 'chat:get_msg' %}" room_id="{{ user.room_id }}">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                             class="rounded-circle user_img">
                                        {% if user.friend.siteuser.is_online %}
                                            <span class="my_custom_on_off_icon_class online_icon"></span>
                                        {% else %}
                                            <span class="my_custom_on_off_icon_class online_icon offline"></span>
                                        {% endif %}
                                    </div>
                                    <div class="user_info">
                                        <span>{{ user.friend }}</span>
                                        <p class="is_typing"></p>
                                        {% if not_readed_msgs %}
                                            {% for msg in not_readed_msgs %}
                                                {% if user.friend.id == msg.from_user %}
                                                    <p class="d-flex justify-content-end not_readed_msgs">{{ msg.count }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <p class="d-flex justify-content-end not_readed_msgs"></p>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <li>
                                <p>You have no friends :(</p>
                            </li>
                        {% endfor %}
                        </div>
                        <div class="chat_categ">
                            <p class="chat_categ_name">Groups</p>
{#                            <span class="create_group" title="Create a group"><i class="fa fa-plus" aria-hidden="true"></i></span>#}
                            {% for user_group in user_groups %}
                                <li class="group_name chat_categ_li" id="{{ user_group.group.id }}" url="{% url 'chat:get_group_msg' %}">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont">
                                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                                 class="rounded-circle user_img">
                                        </div>
                                        <div class="group_info">
                                            <span>{{ user_group }}</span>
                                            <p class="group_is_typing"></p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </div>
                    </ui>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6 chat message_konteyner">
            <div class="card" id="friend_chat_container">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                 class="rounded-circle user_img">
{#                            <span class="online_icon"></span>#}
                        </div>
                        <div class="user_info">
                            <span id="chat_with"></span>
                            <p class="is_typing"></p>
                        </div>
{#                        <div class="video_cam">#}
{#                            <span><i class="fas fa-video"></i></span>#}
{#                            <span><i class="fas fa-phone"></i></span>#}
{#                        </div>#}
                    </div>
                    <span id="action_menu_btn" class="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                    <div class="action_menu">
                        <ul>
                            <li><i class="fas fa-user-circle"></i> View profile</li>
                            <li id="block_friend" url="{% url 'chat:block_friend' %}"><i class="fas fa-ban"></i> Block</li>
                            <li><i class="fas fa-ban"></i> <a href="{% url 'users:logout_form' %}">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body msg_card_body" id="msg_content">
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                        </div>
                        <textarea name="" class="form-control type_msg" id="msg_text" placeholder="Type your message..."></textarea>
                        <div class="input-group-append" id="send_msg_btn">
                            <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="group_chat_container" style="display: none;">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                 class="rounded-circle user_img">
{#                            <span class="online_icon"></span>#}
                        </div>
                        <div class="user_info">
                            <span id="chat_with"></span>
                            <p class="group_is_typing"></p>
                        </div>
                        <div class="video_cam">
                            <span><i class="fas fa-video"></i></span>
                            <span><i class="fas fa-phone"></i></span>
                        </div>
                    </div>
                    <span id="action_menu_btn" class="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                    <div class="action_menu">
                        <ul>
                            <li><i class="fas fa-user-circle"></i> View group</li>
                            <li><i class="fas fa-plus"></i> Add to group</li>
                            <li><i class="fas fa-ban"></i> <a href="{% url 'users:logout_form' %}">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body msg_card_body" id="group_msg_content">
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                        </div>
                        <textarea name="" class="form-control type_msg" id="group_msg_text" placeholder="Type your message..."></textarea>
                        <div class="input-group-append" id="group_send_msg_btn">
                            <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xl-2 search_people_block">

        </div>
        <div>
            <div class="dropdown show" id="notification_div">
                <button style="background: transparent;border: none;outline: none;">
                    <i class="fas fa-bell" style="color: #ffce1b; font-size: 25px;" id="dropdownFRMenuLink"></i>
                </button>
                <span class="badge badge-pill badge-warning" id="notification_count">{{ notification_count }}</span>
                <div class="dropdown-menu" id="notification_dropdown_menu" aria-labelledby="dropdownFRMenuLink" style="top: unset;left: -95px;top: 45px;">
                    <div class="dropdown-item">
                        <div class="notifications" id="box">
                            <h2>Notifications - <span>{{ notification_count }}</span></h2>
                            {% for friend_request in friend_requests %}
                                <div class="notifications-item">
                                    <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" alt="img">
                                    <div class="text">
                                        <h4>{{ friend_request.from_user.username }}</h4>
                                        <span id="request_from_user_id" val="{{ friend_request.from_user.id }}"></span>
                                        <div class="row">
                                            <div class="col-md-5"><button class="btn btn-success btn_in_notification notification_reply_btn" id="1">Accept</button></div>
                                            <div class="col-md-5"><button class="btn btn-danger btn_in_notification notification_reply_btn" id="0">Decline</button></div>
                                        </div>
                                        <p>Sent you a friend request</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
