# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\dj_projects\mychat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
